@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Yeseva+One&display=swap');

/* Inter starts */
.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
}
/* Inter ends */

/* Yeseva-one starts */
.yeseva-one {
    font-family: "Yeseva One", serif;
    font-weight: 400;
    font-style: normal;
}
/* Yeseva-one ends */

/* Poppins starts */
.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}
.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}
/* Poppins ends */

/* Roboto for only buttons starts */
button{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}
/* Roboto for only buttons ends */

/* Lobster starts */
.lobster-regular {
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
}
/* Lobster ends */

/* Manrope starts */
.manrope-fonts {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
/* Manrope ends */