@media screen and (max-width: 1330px) {
    .featured-first-contents-shape, .featured-second-contents-shape{
        display: none;
    }
}
@media screen and (max-width: 1155px) {
    header{
        margin-left: 10px;
        margin-right: 10px;
    }
    .mission-container{
        margin-right: 10px;
        margin-left: 10px;
    }
    .missions-contents{
        gap: 10px;
        margin-top: 45px;
    }
    .missions-contents > div{
        padding: 0 20px;
        height: 360px;
    }
    .featured-container{
        margin-right: 10px;
        margin-left: 10px;
    }
    .featured-details{
        padding: 0 20px;
    }
}
@media screen and (max-width: 970px) {
    header > img{
        width: 400px;
        height: 510px;
    }
    .header-title > h1{
        font-size: 55px;
    }
    .missions-contents{
        gap: 6px;
    }
    .missions-contents > div{
        height: 335px;
        padding: 0 16px;
    }
}
@media screen and (max-width: 890px) {
    header > img{
        width: 330px;
        height: 430px;
    }
    header{
        margin-right: 5px;
        margin-left: 5px;
    }
    .mission-container{
        margin-right: 5px;
        margin-left: 5px;
    }
    .featured-container{
        margin-right: 5px;
        margin-left: 5px;
    }
}
@media screen and (max-width: 835px) {
    .header-title{
        gap: 8px;
        margin-bottom: 8px;
    }
    .header-contents > p{
        line-height: 25px;
    }
    .header-contents > button{
        margin-top: 16px;
        margin-bottom: 22px;
    }
    .missions-contents > div{
        height: 300px;
        padding: 0 10px;
    }
    .missions-contents > div > img{
        height: 120px;
        width: 120px;
        margin-bottom: 7px;
    }
    .missions-contents > div > p{
        font-size: 0.90rem;
        line-height: 20px;
    }
}
@media screen and (max-width: 815px) {
    header{
        padding: 8px;
        margin-bottom: 20px;
    }
}
@media screen and (max-width: 788px) {
    header{
        flex-direction: column-reverse;
        height: max-content;
    }
    .header-contents{
        max-width: 100%;
        padding: 0 5px;
        position: relative;
        top: -50px;
    }
    .header-contents > p{
        max-width: fit-content;
        padding-right: 60px;
    }
    header > img{
        position: relative;
        top: -64px;
        width: 410px;
        height: 510px;
    }
    .missions-contents > div {
        height: 340px;
    }
    .featured-contents-persons{
        height: 310px;
        width: 310px;
    }
    .featured-details > h3{
        line-height: 48px;
        font-size: 35px;
    }
    .featured-details > p{
        line-height: 25px;
    }
    .featured-details > button{
        width: 230px;
    }
}
@media screen and (max-width: 675px) {
    .mission-container{
        margin-bottom: 50px;
    }
    .featured-first-contents, .featured-second-contents{
        flex-direction: column;
        gap: 10px;
    }
    .featured-contents-persons{
        width: 405px;
        height: 400px;
    }
    .featured-container{
        gap: 50px;
    }
    .featured-details{
        align-items: center;
        gap: 10px;
    }
}
@media screen and (max-width: 545px) {
    .missions-contents > div{
        height: 353px;
    }
}
@media screen and (max-width: 520px) {
    header > img{
        width: 350px;
        height: 450px;
    }
    .header-title > h1{
        line-height: 75px;
    }
    .mission-container > h1{
        font-size: 40px;
        line-height: 67px;
    }
    .missions-contents{
        flex-direction: column;
        gap: 18px;
    }
    .missions-contents > div{
        padding: 0 30px;
        height: 300px;
    }
    .missions-contents > img{
        height: 140px;
        width: 140px;
        margin-bottom: 12px;
    }
    .missions-contents > h3{
        margin-bottom: 15px;
        font-size: 24px;
        line-height: 35px;
    }
}
@media screen and (max-width: 455px) {
    header{
        padding: 5px;
    }
    .header-title > h1{
        font-size: 45px;
        line-height: 65px;
    }
    .header-contents > p{
        line-height: 21px;
    }
    .mission-container > h1{
        font-size: 30px;
    }
    .mission-container{
        margin-left: 8px;
        margin-right: 8px;
    }
    .featured-contents-persons{
        width: 360px;
        height: 360px;
    }
}
@media screen and (max-width: 380px) {
    header{
        margin-bottom: 1px;
    }
    header > img{
        width: 320px;
        height: 400px;
        top: -50px;
    }
    .header-title > h1{
        font-size: 40px;
        line-height: 55px;
    }
    .header-style{
        display: none;
    }
    .header-contents{
        top: -40px;
    }
    .header-contents > p{
        padding-right: 10px;
    }
    .header-contents > button{
        width: 150px;
        height: 40px;
    }
    .missions-contents{
        margin-top: 30px;
        gap: 14px;
    }
    .featured-contents-persons{
        width: 310px;
        height: 310px;
    }
    .featured-details > h3{
        font-size: 30px;
        line-height: 40px;
    }
}
@media screen and (max-width: 339px) {
    header > img{
        width: 300px;
        height: 380px;
    }
    .header-title > h1{
        font-size: 34px;
        line-height: 50px;
    }
    .header-contents{
        padding: 0 10px;
    }
    .missions-contents > div > img{
        height: 90px;
        width: 90px;
    }
    .featured-details > button{
        width: 200px;
        height: 45px;
    }
}
@media screen and (max-width: 315px) {
    header > img{
        width: 270px;
        height: 340px;
    }
    .header-contents{
        padding: 0 5px;
    }
    .missions-contents > div{
        padding: 0 10px;
    }
    .mission-container > h1{
        font-size: 25px;
    }
    .featured-contents-persons{
        width: 250px;
        height: 250px;
    }
    .featured-details > h3{
        font-size: 23px;
        line-height: 30px;
    }
}
@media screen and (max-width: 260px) {
    .header-contents{
        padding: 0 2px;
    }
    .header-title > h1{
        font-size: 29px;
        line-height: 40px;
    }
    .featured-details > p{
        font-size: 0.90rem;
        line-height: 20px;
    }
}